<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h4>Add Sentence</h4>
      <div class="form-group">
        <label for="title">Sentence</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="sentence.text"
          name="text"
        />
      </div>

      <button (click)="saveSentence()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Sentence was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newSentence()">Add</button>
    </div>
  </div>
</div>
